<!DOCTYPE html>

{% load static %}
<html>
  <head lang="es">
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href="{% static "img/keyword-research_icon-icons.com_537756_537756.ico" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  </head>

  <body>
    {% block contenido %}
    <header id = "main-header">
      <a id="logo-header" href="{% url 'home' %}">
        <span class="site-name">Red nacional de investigadores</span>
      </a>
      <nav>
  		    <ul>
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{% url 'list_profiles' %}">Perfiles</a></li>
              <li><a href="{% url 'about_of' %}">Acerca de</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Salir</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Ingreso/Registro</a></li>
              {% endif %}
  		    </ul>
     </nav>
   </header>

    <div class="container">
      <section id="fancyTabWidget" class="tabs t-tabs">
        <ul class="nav nav-tabs fancyTabs" role="tablist">
          <li class="tab fancyTab active">
          <div class="arrow-down"><div class="arrow-down-inner"></div></div>
              <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-desktop"></span><span class="hidden-xs">Ingresa</span></a>
          	<div class="whiteBlock"></div>
          </li>
          <li class="tab fancyTab">
          <div class="arrow-down"><div class="arrow-down-inner"></div></div>
              <a id="tab4" href="#tabBody4" role="tab" aria-controls="tabBody4" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-check"></span><span class="hidden-xs">Regístrate</span></a>
              <div class="whiteBlock"></div>
          </li>

        </ul>
        <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
            <div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
                <div>
                	<div class="row">
                    <div class="col-md-12">
                			<h2>Ingresa a tu cuenta</h2>
                        <p>
                          <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p><a href="{% url 'password_reset' %}">Restaurar contraseña</a></p>
                            <button type="submit" name="button" id="button">Entrar</button>
                            {% if form.errors %}
                              <p class=" label label-danger">
                                Your username and password didn't match.
                                Please try again.
                              </p>
                            {% endif %}
                          </form>
                      </p>
                    </div>
                    </div>
                  </div>
            </div>

            <div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="1">
              <div class="row">
                <div class="col-md-12">
            			<h2>¿No tienes cuenta?</h2>
                    <p>
                      <form class="forms">
                        <label for="selector">¿Con qué perfil?:</label>
                        <select id="selector" name="selector">
                          <option value="">Ninguno</option>
                          <option value="1">Estudiante</option>
                          <option value="2">Investigador</option>
                          <option value="3">Posdoctorado</option>
                        </select><br><br>
                        <form method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit">Registrarse</button>
                        </form>
                    </p>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    {% block javascript %}
    <script src="{% static "js/index.js" %}"></script>
    {% endblock %}

    <footer id="main-footer">
      <p>&copy; 2018 <a href=""></a></p>
    </footer>
    {% endblock %}
  </body>
</html>
