<!DOCTYPE html>
{% load static %}
<title>Restablecer contraseña</title>
<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
{% block content %}
<div class="container">
  <h2>Checa tu bandeja de entrada</h2>
  <p>
    Te hemos enviado a tu correo instrucciones para restaurar tu contraseña.
  </p>
  <p>
    Si no recibiste el correo, por favor asegurate de que ingresaste la direccion
    de tu correo de forma correcta y revisa en tu bandeja de spam.
  </p>
  </div>
  {% endblock %}
