<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Acerca de...</title>
    <link rel="shortcut icon" href="{% static "img/Question.ico" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/tabsInfoPerfiles.css" %}">

  </head>
  <body>
    {% block contenido %}
    <header id = "main-header">
        <a id="logo-header" href="{% url 'home' %}">
          <span class="site-name">Red nacional de investigadores</span>
        </a>
        <nav>
            <ul>
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{% url 'search_view' %}">Buscar</a></li>
              <li><a href="{% url 'about_of' %}">Acerca de</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'profile' request.user.id %}">Mi Perfil</a></li>
                <li><a href="{% url 'logout' %}">Salir</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Ingreso/Registro</a></li>
              {% endif %}
            </ul>
       </nav>
     </header>
     <div style="
      background-color: darkcyan;
      font-size: 4;
      width: 100%;
      align-items: center;
      text-align: justify;
      color: black;
      border: 3px solid white;
      border-radius: 15px;
      font-size: medium;
     " align="center">
       <h2 align="center">¿Quiénes somos?</h2>
       <p style="
       padding: 3rem;">
       Esta página tiene como finalidad crear una red de investigadores
       existentes en México, donde cualquier persona podrá consultar las
       publicaciones, grupos de trabajo, proyectos e información
       academicamente relevante sobre los usuarios registrados. Se intenta
       generar un sitio donde los académicos puedan llevar el control de sus
       labores y a su vez, ganar visibilidad. Se propone una forma sencilla
       de agrupar a los académicos por estado, institución y subdependencias
       para tener fácil acceso a una búsqueda regionalizada en México. <br>
       </p>
     </div>
   <style>
     #Invitado {background-color: #245c87; height: 100%;}
     #Investigador {background-color: #7c3733; height: 100%;}
     #Postdoc {background-color: #994c00; height: 100%;}
     #Alumno {background-color: #788724; height: 100%;}
   </style>

   <button class="tablink" onclick="openPage('Invitado', this, '#245c87 ')"  id="defaultOpen">Invitado</button>
   <button class="tablink" onclick="openPage('Investigador', this, '#7c3733')">Investigador</button>
   <button class="tablink" onclick="openPage('Postdoc', this, '#994c00')">Postdoc</button>
   <button class="tablink" onclick="openPage('Alumno', this, '#788724')">Alumno</button>
   <div id="Invitado" class="tabcontent">
     <h3>Postdoc</h3>
      <img style="float: right;" src="{% static "img/PerfilUsuario/iconoInvitado.svg" %}" width="200px" height="200px" >
     <div id="redondeado">
       <p>
       <font size=5>
       Sin haber iniciado sesión, tendrás por omisión el rol de invitado.
       Sólo tendras permitido realizar busquedas y visualizar los datos
       generales de los usuarios registrados.
      </font>
      </p>
     </div>
   </div>

   <div id="Alumno" class="tabcontent" backgroundColor="">
     <h3>Alumno</h3>
     <img style="float: right; margin:0px" src="{% static "img/PerfilUsuario/iconoAlumno.svg" %}" width="200px" height="200px" >
     <div id="redondeado">
       <p>
       <font size=5>
         Los usuarios registrados como alumnos, adicionalmente a las mismas
         acciones que puede realizar un invitado, tendrán un perfil que
         incluye su información básica; podrán pertenecer a grupos
         creados por investigadores, en los cuales se llevara un registro de
         integrantes y podrá añadir sus publicaciones, o ser agregado como
         autor a publicaciones de otros usuarios.
      </font>
      </p>
     </div>
   </div>

   <div id="Postdoc" class="tabcontent">
     <h3>Postdoc</h3>
     <img style="float: right;" src="{% static "img/PerfilUsuario/iconoPostdoc.svg" %}" width="150px" height="150px" >
     <div id="redondeado">
       <p>
       <font size=5>
         Las personas que se encuentren registradas como postdoc, además de
         las mismas acciones que pueden llevar a cabo los alumnos, podrán
         añadir los proyectos que se encuentran desarrollando.
      </font>
      </p>
     </div>
   </div>

   <div id="Investigador" class="tabcontent">
     <h3>Investigador</h3>
     <img style="float: right;" src="{% static "img/PerfilUsuario/iconoInvest.svg" %}" width="150px" height="150px" >
     <div id="redondeado">
       <p>
       <font size=5>
         Las personas que se encuentren registradas como investigador,
         adicionalmente a las mismas acciones que puede realizar un postdoc,
         podrán crear grupos de trabajo en los que podrán incluir a otros
         académicos registrados y podrán añadir a sus alumnos actuales.
      </font>
      </p>
     </div>
   </div>

   <script>
     function openPage(pageName,elmnt,color) {
       var i, tabcontent, tablinks;
       tabcontent = document.getElementsByClassName("tabcontent");
       for (i = 0; i < tabcontent.length; i++) {
         tabcontent[i].style.display = "none";
       }
       tablinks = document.getElementsByClassName("tablink");
       for (i = 0; i < tablinks.length; i++) {
         tablinks[i].style.backgroundColor = "";
       }
       document.getElementById(pageName).style.display = "block";
       elmnt.style.backgroundColor = color;
     }
     // Get the element with id="defaultOpen" and click on it
     document.getElementById("defaultOpen").click();
   </script>

    <footer id="main-footer">
      <p>&copy; 2018 <a href=""></a></p>
    </footer>
    {% endblock %}
  </body>
</html>
