<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Investigador</title>
    <link rel="shortcut icon" href="{% static "img/books.ico" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/jquery-example.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link href="{% static "css/personalizado.css" %}" rel="stylesheet">
  </head>
  <body>
    {% block contenido %}
    <header id = "main-header">
      <a id="logo-header" href="{% url 'home' %}">
        <span class="site-name">Red nacional de investigadores</span>
      </a>
      <nav>
  		    <ul>
      			<li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'list_profiles' %}">Perfiles</a></li>
      			<li><a href="{% url 'about_of' %}">Acerca de</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'profile' request.user.id %}">Mi Perfil</a></li>
              <li><a href="{% url 'logout' %}">Salir</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Ingreso/Registro</a></li>
            {% endif %}
  		    </ul>
     </nav>
   </header>
   <div class="container">

       <div class="row">
           <div class="col-md-12">
               <h1 class="page-header">Perfil de usuario
               </h1>
           </div>
       </div>
     </div>
     {% if person %}
     <div class="row">
       <div class="col-md-3">
         <div class="col-md-12" align="center">
           <img class="img-responsive img-portfolio img-hover" src="img/profile.jpg">
         </div>
         <div class="col-md-12">
           {% if person.first_name == "No ha introducido esta información" %}
             <p class="text-center"><strong>Nombre - Apellidos:</strong></p>
             <p class="text-center"><strong>{{ person.first_name }}</strong></p>
           {% else %}
             <p class="text-center"><strong>{{ person.first_name }} {{ person.last_name }}</strong></p>
           {% endif %}
           <p class="text-center">Grado de estudios: <em> {{ person.get_degree_display }} </em></p>
           <p class="text-center">SNI: <em>{{ person.get_sni_display }}</em></p>
           <p class="text-center">Sede: <em>{{ person.affiliation }}</em></p>
         </div>

         <div class="col-md-12 text-center">
              <ul class="list-unstyled list-inline list-social-icons">
                     <li>
                         <a href="#"><i class="editIcons icon-facebook-square editSizeIcons"></i></a>
                     </li>
                     <li>
                         <a href="#"><i class="editIcons icon-linkedin-square editSizeIcons"></i></a>
                     </li>
                     <li>
                         <a href="#"><i class="editIcons icon-twitter-square editSizeIcons"></i></a>
                     </li>
                     <li>
                         <a href="#"><i class="editIcons icon-google-plus-square editSizeIcons"></i></a>
                     </li>
                 </ul>
         </div>

       </div>
         <div class="col-md-9">


             <div class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
               <div class="col-md-8 col-md-offset-2">

                       <div class="control-group form-group">
                           <div class="controls">
                             <br >
                               <label>Información básica</label>
                               <span id="alertName" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                 <p>Nombre(s): {{ person.first_name }} </p>
                               </span>
                               <br >
                               <span id="alertSurname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                 <p>Apellidos: {{ person.last_name }} </p>
                               </span>
                               <br >
                               <span id="alertQualification" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                 <p>Título: {{ person.get_degree_display }} </p>
                               </span>
                               <br >
                               <span id="alertEmail" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                 <p>Email: {{ user.email }} </p>
                               </span>
                               <p class="help-block"></p>
                           </div>
                       </div>
                       <div class="control-group form-group">
                           <div class="controls">
                               <label>Biografía:</label>
                               <p>Info</p>
                                 <br >
                           </div>
                       </div>
                 </div>
             </div>
             <div class="col-md-12" style="border: 1px solid lightgrey; background: #e5eaf2;">
                 <div class="col-md-8 col-md-offset-2">
                 <div class="control-group form-group">
                         <div class="controls">
                           <br >
                             <label>Enlaces:</label>
                             <p>http://www.es.com</p>
                             <br>
                             <div class="input-group">
                               <span class="input-group-addon">https://plus.google.com</span><p>Google +</p>
                             </div>
                             <br>
                             <div class="input-group">
                               <span class="input-group-addon">http://twitter.com</span><p>Twitter</p>
                             </div>
                             <br>
                             <div class="input-group">
                               <span class="input-group-addon">https://www.facebook.com</span><p>Facebook</p>
                             </div>
                             <br>
                             <div class="input-group">
                               <span class="input-group-addon">https://www.linkedin.com</span><p>Linkedin</p>
                             </div>
                             <br >
                         </div>
                     </div>
                 </div>



             </div>
         </form>
         </div>
     </div>
     {% endif %}
     &nbsp;
   <footer id="main-footer">
     <p>&copy; 2018 <a href=""></a></p>
   </footer>
    {% endblock %}
  </body>
</html>
