<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Perfil</title>
    <link rel="shortcut icon" href="{% static "img/books.ico" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/jquery-example.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link href="{% static "css/personalizado.css" %}" rel="stylesheet">
  </head>
  <body>
    <style>
                 .enlaceboton {
                   font-family: verdana, arial, sans-serif;
                   font-size: 10pt;
                   font-weight: bold;
                   padding: 4px;
                   background-color: #FA8072;
                   color: white;
                   text-decoration: none;
                   margin-right: 40px;
                  }
                  .enlaceboton:link,
                  .enlaceboton:visited {
                   border-top: 1px solid #cccccc;
                   border-bottom: 2px solid #666666;
                   border-left: 1px solid #cccccc;
                   border-right: 2px solid #666666;
                  }
                  .enlaceboton:hover {
                   border-bottom: 1px solid #cccccc;
                   border-top: 2px solid #666666;
                   border-right: 1px solid #cccccc;
                   border-left: 2px solid #666666;
                  }
                 </style>
    {% block contenido %}
    <header id = "main-header">
      <a id="logo-header" href="{% url 'home' %}">
        <span class="site-name">Red nacional de investigadores</span>
      </a>
      <nav>
  		    <ul>
      			<li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'search_view' %}">Buscar</a></li>
      			<li><a href="{% url 'about_of' %}">Acerca de</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'profile' request.user.id %}">Mi Perfil</a></li>
              <li><a href="{% url 'logout' %}">Salir</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Ingreso/Registro</a></li>
            {% endif %}
  		    </ul>
     </nav>
   </header>
   <div class="container">
    <h1 align="center">Perfil de usuario</h1>
     {% if person %}
     <div class="row">
       <div class="col-md-1">

       </div>
         <div class="col-md-9">

             <div class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
               <div class="col-md-8 col-md-offset-2">

                 <div class="control-group form-group">
                     <div class="controls">
                       <br >
                         <label>Información básica</label>
                         <span id="alertName" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>Nombre(s): {{ person.first_name }} </p>
                         </span>
                         <br >
                         <span id="alertSurname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>Apellidos: {{ person.last_name }} </p>
                         </span>
                         <br >
                         <span id="alertQualification" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>Título: {{ person.get_degree_display }} </p>
                         </span>
                         {% if roles %}
                         <br >
                         <span id="alertQualification" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>Rol(es): {% for role in roles %} {{ role }} / {% endfor %} </p>
                         </span>
                         {% endif %}
                         <br >
                         <span id="alertEmail" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>Email: {{ user.email }} </p>
                         </span>
                         <br>
                         <span id="alertAdscripcion" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>Adscripción: {{ person.affiliation}} </p>
                         </span>
                         <br >
                         <span id="alertSNI" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                           <p>SNI: {{ person.get_sni_display }} </p>
                         </span>
                         <br >
                         <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/{{ person.orcid }}" href="https://orcid.org/{{ person.orcid }}" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/{{ person.orcid }}</a></div>
                         <br >
                         <p class="help-block"></p>
                     </div>
                 </div>
                 {% if tutors %}
                 <p> Tutor(es) </p>
                 <ul>
                      {% for tutor in tutors %}
                      <li> {{tutor.person}} - <a href="{% url 'profile' tutor.person.id %}">Perfil</a> </li>
                      {% if request.user.is_authenticated and request.user == user %}
                        <p><a href="{% url 'delete_tutor' tutor.id user.id %}">Eliminar</a></p>
                      {% endif %}
                      {% endfor %}
                 </ul>
                 {% endif %}
                       {% if papers %}
                       <p> Artículos </p>
                       <ul>
                            {% for paper in papers %}
                            <li> {{paper}} - <a href="{% url 'publication' paper.id %}">Articulo</a> </li>
                            {% if request.user.is_authenticated and request.user == user %}
                              <p><a href="{% url 'delete_publication' paper.id %}">Eliminar</a></p>
                            {% endif %}
                            {% endfor %}
                       </ul>
                       {% endif %}
                       {% if students %}
                       <p> Estudiantes </p>
                       <ul>
                            {% for student in students %}
                            <li> {{student}} - <a href="{% url 'profile' student.person.id %}">Perfil</a> </li>
                            {% if request.user.is_authenticated and request.user == user %}
                              <p><a href="{% url 'delete_student' student.id user.id %}">Eliminar</a></p>
                            {% endif %}
                            {% endfor %}
                       </ul>
                       {% endif %}
                       {% if owner_groups %}
                       <p> Líder de los grupos </p>
                       <ul>
                            {% for group in owner_groups %}
                            <li> {{group}} - <a href="{% url 'group' group.id %}">Grupo</a></li>
                            {% if request.user.is_authenticated and request.user == user %}
                              <p><a href="{% url 'delete_group' group.id %}">Eliminar</a></p>
                            {% endif %}
                            {% endfor %}
                       </ul>
                       {% endif %}
                       {% if member_groups %}
                       <p> Integrante de los grupos </p>
                       <ul>
                            {% for group in member_groups %}
                            <li> {{group}} - <a href="{% url 'group' group.id %}">Grupo</a> </li>
                            {% endfor %}
                       </ul>
                       {% endif %}
                       {% if responsible_grants %}
                       <p> Responsable de los proyectos </p>
                       <ul>
                            {% for grant in responsible_grants %}
                            <li> {{grant}} - <a href="{% url 'grant' grant.id %}">Proyecto</a> </li>
                            {% if request.user.is_authenticated and request.user == user %}
                              <p><a href="{% url 'delete_grant' grant.id %}">Eliminar</a></p>
                            {% endif %}
                            {% endfor %}
                       </ul>
                       {% endif %}
                       {% if participant_grants %}
                       <p> Partícipe de los proyectos </p>
                       <ul>
                            {% for grant in participant_grants %}
                            <li> {{grant}} - <a href="{% url 'grant' grant.id %}">Proyecto</a> </li>
                            {% endfor %}
                       </ul>
                       {% endif %}
                 </div>
             </div>
             {% if request.user.is_authenticated and request.user == user %}
                 <table style="width: 100%; height: 30%; text-align: center; ">
                   <tr>
                     <td><a class="enlaceboton" href="{% url 'research' %}">Editar perfil</a></td>
                       <td><a class="enlaceboton" href="{% url 'group_petition' %}">Crear grupo</a></td>
                       <td><a class="enlaceboton" href="{% url 'publication_petition'%}">Añadir articulo</a></td>
                       <td><a class="enlaceboton" href="{% url 'grant_petition'%}">Añadir proyecto</a></td>
                     </tr>
                       
                     <tr>
                         {% if is_researcher %}
                         <td><a class="enlaceboton" href="{% url 'student_petition'%}">Añadir estudiante</a></td>
                         {% endif %}
                         {% if is_student %}
                         <td><a class="enlaceboton" href="{% url 'tutor_petition'%}">Añadir tutor</a> </td>
                         {% endif %}
                       <td>
                         {% if user.is_staff %}
                           <a class="enlaceboton" href="{% url 'admin:index' %}">Administración</a>
                         {% endif %}
                       </td>
                     </tr>
                   </table>
             {% endif %}
             </div>
         </form>
         </div>
     </div>
     {% endif %}
   <footer id="main-footer">
     <p>&copy; 2018 <a href=""></a></p>
   </footer>
    {% endblock %}
  </body>
</html>
