<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Sede</title>
    <link rel="shortcut icon" href="{% static "img/keyword-research_icon-icons.com_53775_53775.ico" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/personalizado.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

  </head>

  <body>
    {% block contenido %}
    <header id = "main-header">
      <a id="logo-header" href="{% url 'home' %}">
        <span class="site-name">Red nacional de investigadores</span>
      </a>
      <nav>
  		    <ul>
      			<li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'search_view' %}">Buscar</a></li>
      			<li><a href="{% url 'about_of' %}">Acerca de</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'profile' request.user.id %}">Mi Perfil</a></li>
              <li><a href="{% url 'logout' %}">Salir</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Ingreso/Registro</a></li>
            {% endif %}
  		    </ul>
      </nav>
    </header>
    <div class="container">

      {% if affiliation %}
      <h1> {{affiliation}} </h1>

      {% if affiliation.super_level %}
      <h2> Nivel Superior <h2>
        <h3> {{affiliation.super_level}} <a href="{% url 'sede' affiliation.super_level.id %}"> Perfil </a> </h3>
        <br/>
        {% endif %}

        {% if sub_levels %}
        <h2> Dependencias </h2>
        <ul class="list">
          {% for sub_level in sub_levels %}
          <li> {{sub_level}} <a href="{% url 'sede' sub_level.id %}">Perfil</a> </li>
          {% endfor %}
        </ul>

        <br/>
        {% endif %}

        {% if register %}
        <h2> Personas </h2>
        <ul class="list">
          {% for entry in register %}
          <li> {{entry.person}} - {% for role in entry.roles %} {{role}}/ {% endfor %} <a href="{% url 'profile' entry.person.user.id %}"> Perfil </a></li>
          {% endfor %}
        </ul>
        {% endif %}

        {% endif %}
    </div>

    <style>
    .container {
      background: #cacfd2;
    }
    h1 {
      text-align: justify;
      font-size: 3em;
    }
    h2,h3 {
      text-align: justify;
      font-size: 2em;
    }
    .list {
      list-style: disc;
      margin-left: 30px;
      font-size: 1.5em;
    }
    </style>


    <footer id="main-footer">
      <p>&copy; 2018 <a href=""></a></p>
    </footer>





    {% endblock %}
  </body>

</html>
